@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

/*--------
 main card
 -----  */
.card {
  transition: 0.3s all;
  border-radius: 26px;
  box-shadow: rgba(35, 29, 79, 0.05) 10px 10px 40px;
}
.card:hover {
  transform: translateY(-2rem);
  box-shadow: rgba(35, 29, 79, 0.2) 10px 10px 40px;
}
.special-card {
  height: 500px;
}
.card-body h1 {
  color: #231d4f;
}
.card p {
  color: #848199;
}
.text-white-css {
  color: white !important;
}
.fa-check-circle {
  color: #5243c2;
}
.text-white-css i {
  color: white;
}
.btn-chose-plan {
  padding: 14px 60px;
  background: rgba(244, 150, 210, 0.2);
  border-radius: 24px;
  border: none;
  color: #3f87f5;
}
.btn-chose-plan:hover {
  background: rgba(244, 150, 210, 0.5);
}
