@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
/*main card*/
.card {
  transition: 0.3s all;
  border-radius: 26px;
  box-shadow: rgba(35, 29, 79, 0.05) 10px 10px 40px;
}
.card:hover {
  transform: translateY(-2rem);
  box-shadow: rgba(35, 29, 79, 0.2) 10px 10px 40px;
}
.special-card {
  height: 500px;
}
/* hot badge */
.start-custom {
  left: 80%;
}
.custom-btn {
  color: white;
  outline: 2px solid white;
}
.custom-btn:hover {
  background-color: white;
  color: #0d6efd;
  outline: none;
}
